<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D0AB0501D9F2F11003B77D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0AB0641D9F2F11003B77D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0AB06F1D9F2F11003B77D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
